@use "../src/component/header/header.scss";
@use "../src/component/footer/footer.scss";
@use "../src/component/homePage/homePage.scss";
@use "../src/component/signinPage/signinPage.scss";
@use "../src/component/userPage/userPage.scss";
@use "../src/component//modalChangeName/modalChangeName.scss";
@use "../src/component/modalrelog/modalrelog.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
